body
{
	font-family:sans-serif;
	background-image:url(../img/background.jpg);
	background-size:cover;
	background-attachment: fixed;
	margin: 0px;
}

.nav
{
	text-align: right;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
    top: 0;
    width: 100%;
}

.nav ul li
{
	list-style:none;
	display:inline-block;
	padding: 0 10px 0 10px;
}

.nav ul li a
{
	text-decoration:none;
	color:white;
	font-size:16px;
	opacity: 1;
	margin-right: 10px;
}

.text_background
{
	background-color: black;
}

.nav ul li a:hover
{
	color:deepskyblue;
	opacity: 1;
	padding-top: 17px;
	padding-bottom: 17px;
	transition:all 0.42s ease;
}

.main
{
	color: white;
	margin-top: 220px;
	text-align: center;
}

.section_a
{
	margin-bottom: 0px;
	text-align: center;
	margin-bottom: 20px;
}

.section_a img
{
	filter: drop-shadow(0px 2px 15px #000000);
}

.section_a h1
{
	font-size: 50px;
}

.section_1
{
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 15px #000000;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 20px;
}

.section_1 img
{
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.5;
}

.section_1 img:hover
{
	opacity: 1.0;
	transition:all 0.42s ease;
}

.section_1 a
{
	text-decoration: none;
	color: deepskyblue;
}

.section_1 a:hover
{
	color: white;
	transition:all 0.42s ease;
}

.footer
{
	text-align: right;
	background: rgba(0, 0, 0, 1);
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}

.footer h3
{
	padding-top: 40px;
	text-align: right;
	margin-right: 20px;
}